@model ViewModel.ConfirmPasswordReset
@{ Domain.User item = Model.Item; }
<!-- Modules\User\ConfirmPasswordReset.cs:8 -->
<form data-module="ConfirmPasswordReset" method="post" action="@Url.Current()">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
   <h2>@item Details</h2>
   <div class="view-body">
   </div>
   <div class="buttons-row">
      <div class="buttons">
         <a name="ProceedToTheLoginPage" href='@Url.Index("Login")' default-button="true">Proceed to the login page.</a>
      </div>
   </div>
</form>
