@model ViewModel.ProjectTaskEdit
@{Layout = "~/Views/Layouts/AdminDefault.Modal.cshtml";}
<!-- Modules\ProjectTask\ProjectTaskEdit.cs:7 -->
<form data-module="ProjectTaskEdit" role="form" method="post" action="@Url.Current()" data-validation-style="tooltip" class="input-form">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
   <h2>Task Details</h2>
   <div class="form-body">
      <div class="form-group row">
         <label for="Done" class="control-label">
            Done?
         </label>
         <div class="group-control">
            <input type="checkbox" asp-for="Done" class="form-check" autofocus="autofocus" />
         </div>
      </div>
      <div class="form-group row required-item">
         <label for="Title" class="control-label">
            Title
         </label>
         <div class="group-control">
            <input type="text" asp-for="Title" class="form-control" />
         </div>
      </div>
      <div class="form-group row">
         <label for="Description" class="control-label">
            Description
         </label>
         <div class="group-control">
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
         </div>
      </div>
   </div>
   <div class="buttons-row">
      <div class="buttons">
         <button type="button" name="Cancel" class="btn btn-secondary" onclick="page.modal.closeMe();">Cancel</button>
         <button type="submit" name="Save" class="btn btn-primary" formaction='@Url.ActionWithQuery("ProjectTaskEdit/Save")' default-button="true"><i class="fas fa-check"></i>
            Save</button>
      </div>
   </div>
</form>
